<div class="container">

  <h1 class="page-header">View Book Details</h1>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Is is a series?</strong> <%= @book.is_series %>
  </p>

  <%= link_to '[List]', books_path %> <%= link_to '[Edit]', edit_book_path %>

</div>